/*
#e4f9f5
#30e3ca
#11999e
#40514e
*/

.nav {
    background-color: #40514e;
}

#nav-row {
    background-color: #40514e;
    position: fixed;
    margin: 0;
    width: 100%;
    overflow: hidden;
    z-index: 999;
}

.navbar {
    background-color: #40514e;
    color: #e3e3e3;
}

.navbar-large {
    display: flex;
    align-items: stretch;
    margin: 0 auto;
}

.icon {
    height: 2.5em;
}

ul.navbar-large {
    width: 100%;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(48,227,202, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
    color: #30e3ca;
}

a.navbar-brand:hover {
    color: #30e3ca;
}

#bild {
    width: 100%;
    
}

.nav-link.disabled {
    color: #e4f9f5;
}

.nav-link {
    color: #11999e;
    font-weight: 500;
}

a.nav-link:hover {
    color: #30e3ca;
}

body {
    background: #e4f9f5;
    padding: 0;
}

.header h1 {
    margin-top: 2em;
    color: #40514e;
}

.header h5 {
    margin-bottom: 1em;
    color: #11999e;
}

.section {
    margin-bottom: 1em;
    color: #40514e;
}

.section h5 {
    margin-top: 1em;
}

.media {
    border-radius: 10px;
    border: 2px solid;
    border-color: #11999e;
    padding: 0px;
}

#table {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
    width: 100%;
}

.col-lg-3 #table {
    max-width: 90%;
}

#table thead {
    color: #40514e;
}

#table tbody {
    color: #11999e;
}

#table td:nth-child(odd) {
    width: 50%;
}

#table td:nth-child(even) {
    font-weight: bold;
    text-align: right;
    width: 50%;
}

footer.row {
    background-color: #30e3ca;
    text-align: center;
    color: #40514e;
    bottom: 0;
}

#contact-button {
    background-color: #40514e;
}

#contact-footer {
    background-color: #30e3ca;
    text-align: center;
    color: #40514e;
  
    width: 100%;
    bottom: 0;
}

#nachricht {
    min-height: 10em;
}

form {
    align-content: flex-start;
}

.form-group {
    text-align: left;
}

@media only screen and (min-width: 992px) {
    .navbar-expand-lg {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    #nav-row {
        display: none;
    }
}
