.nav {
    background-color: #40514e;
    color: #e3e3e3;
}

.nav-link.disabled {
    color: #e4f9f5;
}

.nav-link {
    color: #11999e;
    font-weight: 500;
}

a.nav-link:hover {
    color: #e4f9f5;
}

body {
    background: #e4f9f5;
}

.header {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #40514e;
}

.section {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #40514e;
}



img {
    
}